@model Aplicacao.Loja.Loja.Items.Computador

@{
    ViewBag.Title = "Delete";
}

<h5><b>Deseja Excluir?:</b></h5>
<h6>@Html.DisplayFor(model => model.Nome)</h6>
<div>
  
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Processador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armazenamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazenamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArmazenamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArmazenamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>

        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("CANCELAR", "Index",null,new { @class="btn btn-default"})
        </div>
    }
</div>
