@model Aplicacao.Loja.Loja.Items.Computador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatgInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatgInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armazenamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armazenamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArmazenamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArmazenamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
</p>
