@model IEnumerable<Aplicacao.Loja.Loja.Items.Computador>

@{

    ViewBag.Title = "Index";

}
    <h5>Pc's e Notebooks</h5>

    <p>
        <a class="btn-floating tooltipped green darken-4 right" data-position="bottom" data-tooltip="Novo" href='@Url.Action("Create","Computadores")'><i class="material-icons">add</i></a>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Setor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Setor)
                </td>

                <td>
                    <a class="btn-floating tooltipped" data-position="bottom" data-tooltip="Editar" href='@Url.Action("Edit","Computadores", new { id = item.ProdutoId })'><i class="material-icons">create</i></a>
                    @* @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }) |*@
                    <a class="btn-floating tooltipped" data-position="bottom" data-tooltip="Detalhes" href='@Url.Action("Details","Computadores", new { id = item.ProdutoId })'><i class="material-icons">dehaze</i></a>
                    @*@Html.ActionLink("Detalhes", "Details", new { id = item.ProdutoId }) |*@
                    @* @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoId })*@
                    <a class="btn-floating tooltipped" data-position="bottom" data-tooltip="Excluir" href='@Url.Action("Details","Computadores", new { id = item.ProdutoId })'><i class="material-icons">delete</i></a>

                </td>

            </tr>
        }

    </table>
